::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: darkgrey;
  border-radius: 20px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(68, 69, 83);
  border-radius: 20px;
}

.layout {
    width: 100vw;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url('../../images/background.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-clip: border-box;
}

.contentWrap {
    width: 850px;
    min-width: 700px;
    max-width: 1000px;
    height: 550px;
    min-height: 400px;
    max-height: 600px;
    border-radius: 10px;
}